*{
    box-sizing: border-box;
    margin: 0;
    font-family:  Roboto, sans-serif;
}

.container{
    background-color: #F8EBE9;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

a{
    text-decoration: none;
    font-family:  Roboto, sans-serif;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.4);
    font-weight: 700;
}

.cities-card{
    width: 1100px;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
}

.cities-card > img{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 0;
}

.cities-card .cities-header{
    width: 100%;
    height: 100px;
    padding: 30px;
    display: flex;
    align-items: center;
    z-index: 1;
}

.cities-card .cities-header a{
    margin-right: 50px;
}

.cities-card .cities-header a:last-child{
    margin-right: 0;
}

.cities-card .cities-header a:hover{
    color: rgba(0, 0, 0, 1);
}

.cities-card .cities-header a:first-child{
    margin-right: auto;
    display: flex;
    align-items: center;
}

.cities-card .cities-header a:first-child img{
    width: 21px;
    margin-right: 5px;
    filter: grayscale(100%);
}

.cities-body{
    width: 60%;
    overflow: hidden;
    margin-left: auto;
    margin-top: 40px;
    margin-bottom: 50px;
    padding: 30px;
    padding-right: 140px;
}

.cities-body .cities-title{
    display: flex;
}

.cities-body .cities-title h2{
    font-size: 4rem;
    width: 80%;
    font-family: 'Playfair Display';
}

.cities-body .cities-title .title-line{
    height: 4px;
    width: 20%;
    background-color: black;
    margin-top: auto;
    margin-bottom: 35px;
}

.cities-body > p{
    font-family: 'Playfair Display';
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 500;
}

.cities-body > p span{
    font-family: 'Playfair Display';
    font-weight: 600;
}

.cities-body .preview{
    display: flex;
}

.cities-body .preview .photos{
    width: 40%;
}

.cities-body .preview .photos .preview-video{
    width: 100%;
    position: relative;
    cursor: pointer;
}

.cities-body .preview .photos .preview-video img{
    width: 100%;
}

.cities-body .preview .photos .preview-video #play{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50px;
    width: 40px;
    position: absolute;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
}

.cities-body .preview p{
    width: 60%;
    padding-left: 40px;
    font-weight: 400;
    line-height: 1.9;
}

.cities-card .preview a{
    display: flex;
    align-items: center;
    color: black;
    margin-top: 10px;
}